node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
.docker-compose.override.yml
Dockerfile.*
docker-compose.yml
.env
*.env.*
*.log
logs/
tmp/
*.swp
*.swo
public/uploads/
public/uploads/avatars/
.idea/
.vscode/
.DS_Store
Thumbs.db
build/
dist/
coverage/
/media/
/assets/
